---
---
@import "{{ site.theme }}";

$primary-color: #221C35; 
$text-color: #FAFAFA;
$font-stack: 'Hack';

body {
  background-color: $primary-color;
  color: $text-color;
  font-family: $font-stack;
}
